.App {
text-align: center;
background-color: beige;
font-size: larger;

}
.Bio {
    color: violet;
    font-style: italic;
}
.FullName {
    color: blueviolet;
    font-style: italic;
}
.Profession{
    color: darkmagenta;
    font-style: italic;
}
